@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFCF8;
  --foreground: #171717;
}

/* TODO: Implement dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF8;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
